<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<input type="text" id="searchInput" class="searchInput" placeholder="Search...">
<ul id="list" class="list">

</ul>

</body>
<script type="text/javascript" src="/javascripts/api.js"></script>
<script type="text/javascript" src="/javascripts/helper.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/javascripts/list.js"></script>
<script type="text/javascript" src="/javascripts/global.js"></script>
</html>
